// (note: Content not device screen sizes should determine your breakpoints)
$min460:  (min-width: 460px);
$min525:  (min-width: 525px);
$min600:  (min-width: 600px);
$min660:  (min-width: 660px);
$min700:  (min-width: 700px);
$min768:  (min-width: 768px);
$min750:  (min-width: 750px);
$min960:  (min-width: 960px);
$min992:  (min-width: 992px);
$min1100: (min-width: 1100px);
$min1200: (min-width: 1200px);
$min1280: (min-width: 1280px);

// Samdog colors
$c_samdog_green: #66AD28;
$c_samdog_orange: #fbbc40;
$c_samdog_blue: #4da7ca;
$c_samdog_red:#f0523f;

// transition
$transition_speed: 0.3s;

// Font-families
$font_GustanExtraBlack: GustanExtraBlack;
$font_GustanLight: GustanLight;
$font_GustanMedium: GustanMedium;
$font_GustanMediumD: GustanMediumD;
$font_GustanBold: GustanBold;



// FlowPanel variables
$arrow-box-width: 80px;